.all {
    max-width: 2000px;
    margin: 0 auto;
}
.bor {
    
    border: 1px solid #69696911;
    padding: 5px;
    width: 900px;
    border-radius: 20px;
    display: inline-block;
}
.h1{
    background-color: rgb(230, 230, 230);
}
h1{
    color: tomato;
}
.img{
    border: 1px solid #00000011;
    padding: 5px;
    float: left;
    width: 200px;
    height: auto;
}
.cach {
    margin-left: 220px;
    
}
.ul{
    margin-top: 40px;
    list-style-image: url('ico_arrow.gif');
    font-size: 26px;
}
.ul1 {
    margin-top: 134px;
    list-style-image: url('ico_arrow.gif');
    font-size: 26px;
}
a:link, a:visited{
    text-decoration: none;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    margin-top: 5px;
}
.anh{
    border: 1px solid #69696911;
    padding: 5px;
    width: 1800px;
    border-radius: 20px;
}
img{
    width: 290px;
}
